[Desktop Entry]
Categories=Settings;
Comment[en_US]=some settings about java
Comment[tr_TR]=java'yla ilgili birtakım ayarlar
Encoding=UTF-8
Exec=/opt/sun-jdk/jre/bin/javaws -viewer
GenericName[en_US]=java-options
GenericName=java-settings
Icon=/opt/sun-jdk/jre/lib/desktop/icons/hicolor/48x48/apps/sun-javaws.png
MimeType=application/x-java-jnlp-file;
Name[en_US]=Java Web Start
Name=Java Web Start
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
